<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Example</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <div id="section-filter">
        
        <label>search about programming language : </label>
        <input type="text" v-model="findLanguage">
        
        <ul>
            <li v-for="lang in filterLanguages">
                {{lang}}
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <script>

var vm = new Vue({

  el: '#section-filter',

  data: {

findLanguage: '',
languages: [
'html',
'css',
'js',
'node',
'php',
'frameworks',
],  

},
  methods: {
  
  },
  computed:{

filterLanguages: function (){

var filtering = new RegExp(this.findLanguage,'i');
return this.languages.filter(function(el){
    return el.match(filtering);
});
// return this.languages.filter(function(el){
// return el.match(filtering);

}

 }


}) /* end a script vue  */

    </script>

</body>
</html>