<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>

<div id="kom1">
<p>my name is komboz {{name}}{{age}}</p>    
<span>    {{showAge()}}</span>

<!-- flow control in vue  -->
<p v-if="age > 25">this is age older</p>
<strong v-else-if="age < 29">this is a else </strong>
<strong v-else="age == 0">this is a zero  </strong>
<!-- end flo control example -->

<!-- v-once => dont update a item or tage  -->
<p v-once>{{major}}</p>
<p v-show="str">This is a : {{str}}</p> <!-- v-show=" "-->

<!-- v-bind  -->
<a :href="go_to_google">
<!-- <img v-bind:src="imgsrc" alt=""> -->
</a>

<!-- on click event  -->
<strong>{{counter}}</strong>
<button @click.middle="counter +=10">click </button>

<!-- ------------------------------------------------------------------ test v-model -------------------------------------------------------- -->
<form action="">

<input type="text" :value="model" placeholder="comon test">
<input type="text" v-model="model" placeholder="this is a king ">

</form>
<p>{{model}}</p>
<!-- ------------------------------------------------------------------ create Components  -------------------------------------------------------- -->
<app-count></app-count>

<!-- ------------------------------------------------------------------ first application by me   ---------------------------------------------------------->

<button @click="count_order ++">a plus </button>
<p>{{count_order}}</p>
<button @click="count_order --">decrease</button>
<button @click="count_order =0">clear val</button>
<span>or choice defult val </span>
<ol>
    <li @click="count_order =10"><button>10</button></li>
    <li @click="count_order =20"><button>20</button></li>
    <li @click="count_order =30"><button>30</button></li>
</ol>
</div>

<div id="test21">

</div>


<script src="vue.js"></script>

<script>
Vue.component('app-count', {
    data : function(){
        return {
            name : 'feras',
            count : 0
        }
    },
    template : '<p @click="count++">this is a first components {{count}}</p>'
})

var vm = new Vue ({
el : '#kom1',
data: {
name         : 'kombozya 3am', 
major        : "developer",
str          : "almansora",
imgsrc       : "image/background.jpg",
go_to_google : 'www.google.com',
counter      : 0,
model        : "feras",
count_order  : 0, 
age:0 
},
methods : {

showName(){
return 'my name is feras '
},
showAge(){
return "${this.age}"
}
}
})

</script>

</body>
</html>