#section-filter{
    background-color: rgb(2, 78, 97);
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
}

.msg-validation {
    background-color: gold;
    padding: 20px;
    text-transform: capitalize;
    width: 20%;
    cursor: pointer;
    border-radius: 8px;
}
.style-clc{
    text-transform: uppercase;
    color: #31475E;
}
.style-clc input{
    border: none;
    background-color: #3FB984;
    color: #fff;
    padding: 10px;
}

/* 31475E  */