<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



    <title>vaildation Example</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <div id="section-validation">
        
        <label>egyption</label>
        <input type="text" v-model="eg">
        <label>sudia</label>
        <input type="text" v-model="sar">
        <hr>

        <div class="style-clc">
            <div class="container text-center">
                <h4 class="mt-5 mb-5">example calculation hours and minutes en secondes </h4>
                <div class="row">
                    <div class="col-lg-4">
                        <label>HOURS </label>
                        <input type="text" v-model="hour">
                    </div>
                    <div class="col-lg-4">
        
                        <label>MINUTES </label>
                        <input type="text" v-model="minute">
                    </div>
                    <div class="col-lg-4">
                            
                <label>SECONDES</label>
                <input type="text" v-model="second">
                    </div>

                </div>

            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <script>

var vm = new Vue({

  el: '#section-validation',

  data: {
    eg: 0,
    sar: 0,
    hour:0,
    minute:0,
    second:0,

    
},
  methods: {
  
  },
  computed:{

 },
 watch:{

    eg: function(v){
        this.sar = v / 5;
        console.log('eg run');
    },
    sar: function(v){
        this.eg = v * 5;
        console.log('sar run');
    },

    hour: function(v){
        this.minute = v * 60;
        console.log('run hour');
    },

    minute: function(v){
        this.hour = v / 60;
        this.second = v*60;
        console.log('run minute');
    },
    second: function(v){
        this.minute = v / 60;
        console.log('run second');


    }

 },


}) /* end a script vue  */

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>